.texto {    
    color: rgba(255, 255, 255, 0.589);
    font-size: 20px; 
    font-family: 'Gabarito', sans-serif; 
    padding-left: 30px;
}

.footer {
    background-color: rgb(230, 227, 227);
    color: #333131;
    text-align: center;
    padding: 30px 10px 10px 10px;    
    bottom: 0;
    width: 100%;
    margin: 0px;
}

.cardbody {
    padding-left: 80px;
    padding-right: 80px;
}

.cardfarm {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.imagecentral {
    width: 50%; 
    height: 50%;
}

.imagefarm {
    width: 80%; 
    height: 80%;
    padding-top: 10px;
}
